
<div class="404page">
  <h1 class="big-title">Error</h1>
  <img src="/images/error-404.png" alt="Eror-logo" width="250px">
  <h2 class="hTwo">There was an error on the server !</h2>
  <h1>To access the profile page, you may want to try <a  class="THE-title" href="/signup">Signing up</a> or <a  class="THE-title" href="/login">Logging in</a> : ) </p>
</div>
