
<h1>In index : Explain the aim of Clean-Closet</h1>

<p class="intro-texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corrupti dolorum neque incidunt natus molestias assumenda accusamus magnam distinctio suscipit, est illum quos. Quaerat praesentium atque id nemo, deleniti perferendis!</p>

<img src="/images/Anna-Shvets-Pexels.jpg" alt="photo-model-by-anna-shvets" width="700px">

<div class="row align-items-center row-balance">
  <div class="col-6 text-center">
    <p class="intro-texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corrupti dolorum neque incidunt natus molestias assumenda accusamus magnam distinctio suscipit, est illum quos. Quaerat praesentium atque id nemo, deleniti perferendis!</p>
  </div>
  <div class="col-6 text-center">
    <img src="/images/Wherbson-Rodrigues -Pexels.jpg" alt="woman-model" width="600px">
  </div>
</div>

<div class="row align-items-center row-balance">
  <div class="col-6 text-center">
    <img src="/images/utopia-by-cho-LRqBE1z5kfE-unsplash.jpg" alt="men-model" width="600px">
  </div>
  <div class="col-6 text-center">
    <p class="intro-texts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corrupti dolorum neque incidunt natus molestias assumenda accusamus magnam distinctio suscipit, est illum quos. Quaerat praesentium atque id nemo, deleniti perferendis!</p>
  </div>
</div>



