</div>
    <nav class="navbar my-nav-bar">
      <a href="/login">Log In</a>
      <a href="/signup">Sign up</a>
    </nav>
    <hr class="hr-style">
</div>
<h1 class="bold">What is Clean-Closet</h1>
<p class="intro-texts">Clean-Closet is a collaborative platform for people to find and/or share ethically and sustainable made brands, dedicated to upholding a positive environmental and social impact.</p>
<img src="/images/Anna-Shvets-Pexels.jpg" alt="photo-model-by-anna-shvets" width="700px">
<div class="row align-items-center row-balance">
  <div class="col-5 text-center">
    <p class="intro-texts">“Sustainability is a balance between the financial, human, and environmental. It is about living your values and acting with integrity, responsibility and generosity. It is about being in a community of discussion, dialogue and action – because no person or company is an island and everything is interconnected.”</p>
  </div>
  <div class="col-7 text-center">
    <img src="/images/Wherbson-Rodrigues -Pexels.jpg" alt="woman-model" width="600px">
  </div>
</div>
<div class="row align-items-center row-balance">
  <div class="col-7 text-center">
    <img src="/images/utopia-by-cho-LRqBE1z5kfE-unsplash.jpg" alt="men-model" width="600px">
  </div>
  <div class="col-5 text-center">
    <p class="intro-texts">A sustainable brand is one that has a meaning or purpose that goes beyond making money, instead seeking to increase the wellbeing of humanity and all life on our planet. It sees people as creativists, not consumers. And it understands the lifecycle and environmental impact of all its activities, so that it can seek to continuously innovate and reduce its impact to a minimum.</p>
  </div>
</div>
<div class="example">
  <img src="/images/pexels-brandon-t-leigh-3263460.jpg" width="600"alt="tree" />
  <div class="content">
     <a href="/posts"><div class="text">Check out the posts</div></a>
  </div>
</div>



