<h2>CREATE POST</h2>

<form action="/create-post" method="post" enctype="multipart/form-data">

  <label for="picture">Picture: </label>
  <input type="file" name="image" id="" />

  <label for="title">Title: </label>
  <input type="text" id="title" name="title"  required>

  <label for="country">Country: </label>
  <input type="text" id="country" name="country"  required>

  <label for="link">Brand's Website </label>
  <input type="url" id="link" name="link" required>

  <label for="brandsName">Brand's Name </label>
  <input type="text" id="brandsName" name="brandsName" required>
 {{!--  <label for="username">Username</label>
  <input type="text" id="username" name="username" required> --}}

  <button type='submit'>Create Post</button>
</form>

{{!-- onst postSchema = new Schema(
        { 
          picture: { type: String, default: url },
          title: String,
          country: String,
          link: String,
          intro: String,
          liked: [{ type: Schema.Types.ObjectId, ref: 'User' }],
          creator: { type: Schema.Types.ObjectId, ref: 'User' },
          price: { type: [String], enum: ['$', '$$', '$$$'], required: true }
        },
        {
            timestamps: true,
        }
); --}}