
*{
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  background-color: #fbefe4;
  color: #696969 ;
}
body{
  background-color: #fbefe4;
  font-size: 20px;
}
a{
  padding: 5px;
  font-size: 2rem;
  color: #696969;
  text-decoration: none;
}
a:hover{
  color: #A9A9A9 ;
  text-decoration: none;
}
.a-checkout{
  margin-top: -20px;
  font-size: 2rem;
  color: black;
  text-decoration: none;
}
.a-checkout:hover{
  color: #A9A9A9 ;
  text-decoration: none;
}
img-padding{
  padding: 40px;
}
.hr-style{
  padding: 50px;
  width: 80%;

}
.big-title{
  padding: 10px;
  font-size: 6rem ;
  font-weight: 700;
}
.THE-title{
  transform: translate(-1%, -1%);
  text-transform: uppercase;
  transition-duration: 1s;
  -webkit-background-clip: text;
}
.THE-title:hover {
  letter-spacing: 10px;
  color: #A9A9A9;
}
.hTwo{
  padding: 30px;
}
.intro-texts{
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.5;
  padding: 20px;
  width: 500px;
}
.bold{
  padding: 10px;
  font-style: oblique;
}
.row-balance{
  padding: 20px;
}
.btn-grad {background-image: linear-gradient(to right, #f9e5d3 0%, #FEFDFC  51%, #f9e5d3  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: #696969;            
   box-shadow: 0 0 20px #eee;
   display: block;
   border: 0px;
 }
 #location{
  color: #8F8F8F;
 }
 #author{
  color: #A9A9A9;
 }
 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #A9A9A9;
   text-decoration: none;
 }
.each-post-list{
  padding: 20px;
}
 .example {
  position: relative;
  padding: 0;
  width: 600px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.content {
  opacity: 0;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(200, 200, 200, 0.5);
  width: 600px;
  height: 900px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}
.example .content:hover {
  opacity: 1;
}
.example .content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  color: black;
}
.example .content:hover .text {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}
.anim-post-list {
  position: relative;
  padding: 0;
  width: 500px;
  cursor: pointer;
  overflow: hidden;
}
.anim-post-list-content {
  opacity: 0;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5);
  width: 500px;
  height: 750px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}

.anim-post-list .anim-post-list-content:hover {
  opacity: 1;
}

.anim-post-list .anim-post-list-content .anim-post-list-text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
  color: black;
}

.anim-post-list .anim-post-list-content:hover .anim-post-list-text {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}
.footer{
  padding: 40px;
}






/* body {
  margin: 0;
  background: url('https://s3-us-west-2.amazonaws.com/uw-s3-cdn/wp- 
 content/uploads/sites/6/2017/11/04133712/waterfall.jpg');
  background-size: 160%;
} */



/*# sourceMappingURL=style.css.map */

.buttons {
  font-size: 1em;
}

#edit-post {
  font-size: 1em;
}

#delete-post {
  padding-top: 10px
}