<h2>CREATE POST</h2>

<form action="/create-post" method="post" enctype="multipart/form-data">

  <div class="form-group" >
    <label for="picture">Picture: </label>
    <input type="file" name="image" id="" />
  </div>
  
  <div class="form-group" >
    <label for="title">Title: </label>
    <input type="text" id="title" name="title"  required>
  </div>
  
  <div class="form-group">
  <label for="country">Country: </label>
  <input type="text" id="country" name="country"  required>
  </div>

  <div class="form-group">
  <label for="link">Brand's Website </label>
  <input type="url" id="link" name="link" required>
  </div>

  <div class="form-group">
  <label for="brandsName">Brand's Name </label>
  <input type="text" id="brandsName" name="brandsName" required>
  </div>

  <div class="form-group">
  <label for="intro">Tell us about the brand:  </label>
  <input type="text" id="intro" name="intro" required>
  </div>
  {{!-- <label>Price Range</label>
             <select id = "price">
               <option value = "$">$</option>
               <option value = "$$">$$</option>
               <option value = "$$$">$$$</option>
             </select> --}}

  <button type='submit'>Create Post</button>
</form>

